In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, sum, min, max, avg, mean, count, round
spark=SparkSession.builder.appName('GroupbyQuiz').getOrCreate()
df=spark.read.options(header=True, inferSchema=True).csv('Files/StudentData.csv')
df.show()
df.printSchema()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [10]:
df.groupBy('course').agg(count('*').alias('Total Students')).show()

+------+--------------+
|course|Total Students|
+------+--------------+
|    PF|           166|
|    DB|           157|
|   MVC|           157|
|   DSA|           176|
| Cloud|           192|
|   OOP|           152|
+------+--------------+

In [11]:
df.groupBy('course','gender').agg(count('*').alias('Total Students')).show()

+------+------+--------------+
|course|gender|Total Students|
+------+------+--------------+
|   OOP|  Male|            70|
|    DB|  Male|            82|
| Cloud|Female|           106|
|   MVC|  Male|            86|
|   DSA|Female|            98|
|    PF|  Male|            97|
|   MVC|Female|            71|
| Cloud|  Male|            86|
|    PF|Female|            69|
|   DSA|  Male|            78|
|    DB|Female|            75|
|   OOP|Female|            82|
+------+------+--------------+

In [12]:
df.groupBy('course','gender').agg(sum('marks').alias('Total Marks')).show()

+------+------+-----------+
|course|gender|Total Marks|
+------+------+-----------+
|   OOP|  Male|       4234|
|    DB|  Male|       5073|
| Cloud|Female|       6316|
|   MVC|  Male|       5241|
|   DSA|Female|       6124|
|    PF|  Male|       5960|
|   MVC|Female|       4344|
| Cloud|  Male|       5127|
|    PF|Female|       3973|
|   DSA|  Male|       4826|
|    DB|Female|       4197|
|   OOP|Female|       4682|
+------+------+-----------+

In [15]:
df.groupBy('course','age').agg(min('marks').alias('Min Marks'), max('marks').alias('Max Marks'), round(avg('marks'),2).alias('Avg Marks')).show()

+------+---+---------+---------+---------+
|course|age|Min Marks|Max Marks|Avg Marks|
+------+---+---------+---------+---------+
|   MVC| 28|       23|       99|    60.44|
|   MVC| 29|       22|       99|    61.56|
| Cloud| 28|       20|       99|    58.08|
|    PF| 29|       20|       99|    56.28|
|    PF| 28|       20|       98|    63.76|
|   OOP| 29|       20|       99|    59.73|
|   DSA| 28|       20|       99|    64.69|
| Cloud| 29|       21|       98|    61.25|
|    DB| 28|       21|       98|    58.77|
|   DSA| 29|       20|       99|    60.01|
|   OOP| 28|       23|       99|    57.64|
|    DB| 29|       20|       98|    59.35|
+------+---+---------+---------+---------+