In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('RDD2').getOrCreate()
df=spark.read.option('header',True).csv('Files/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [3]:
df.select('gender','age').show()

+------+---+
|gender|age|
+------+---+
|Female| 28|
|Female| 29|
|  Male| 28|
|Female| 29|
|  Male| 28|
|  Male| 28|
|  Male| 28|
|Female| 28|
|  Male| 28|
|  Male| 29|
|Female| 29|
|  Male| 29|
|Female| 28|
|Female| 29|
|  Male| 29|
|Female| 29|
|  Male| 29|
|  Male| 29|
|  Male| 29|
|Female| 28|
+------+---+
only showing top 20 rows

In [4]:
df.select(df.name,df.email).show()

+----------------+--------------------+
|            name|               email|
+----------------+--------------------+
| Hubert Oliveras|Annika Hoffman_Na...|
|Toshiko Hillyard|Margene Moores_Ma...|
|  Celeste Lollis|Jeannetta Golden_...|
|    Elenore Choy|Billi Clore_Mitzi...|
|  Sheryll Towler|Claude Panos_Judi...|
|  Margene Moores|Toshiko Hillyard_...|
|     Neda Briski|Alberta Freund_El...|
|    Claude Panos|Sheryll Towler_Al...|
|  Celeste Lollis|Nicole Harwood_Cl...|
|  Cordie Harnois|Judie Chipps_Clem...|
|       Kena Wild|Dustin Feagins_Ma...|
| Ernest Rossbach|Maybell Duguay_Ab...|
|  Latia Vanhoose|Latia Vanhoose_Mi...|
|  Latia Vanhoose|Eda Neathery_Nico...|
|     Neda Briski|Margene Moores_Mi...|
|  Latia Vanhoose|Claude Panos_Sant...|
|  Loris Crossett|Mitzi Seldon_Jenn...|
|  Annika Hoffman|Taryn Brownlee_Mi...|
|   Santa Kerfien|Judie Chipps_Tary...|
|Mickey Cortright|Ernest Rossbach_M...|
+----------------+--------------------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import col
df.select(col("name"),col("age")).show()

+----------------+---+
|            name|age|
+----------------+---+
| Hubert Oliveras| 28|
|Toshiko Hillyard| 29|
|  Celeste Lollis| 28|
|    Elenore Choy| 29|
|  Sheryll Towler| 28|
|  Margene Moores| 28|
|     Neda Briski| 28|
|    Claude Panos| 28|
|  Celeste Lollis| 28|
|  Cordie Harnois| 29|
|       Kena Wild| 29|
| Ernest Rossbach| 29|
|  Latia Vanhoose| 28|
|  Latia Vanhoose| 29|
|     Neda Briski| 29|
|  Latia Vanhoose| 29|
|  Loris Crossett| 29|
|  Annika Hoffman| 29|
|   Santa Kerfien| 29|
|Mickey Cortright| 28|
+----------------+---+
only showing top 20 rows

In [6]:
df.select("*").show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [7]:
df.columns

['age', 'gender', 'name', 'course', 'roll', 'marks', 'email']

In [8]:
df.select(df.columns).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [9]:
df.select(df.columns[:2]).show()

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
| 29|Female|
| 28|  Male|
| 28|  Male|
| 28|  Male|
| 28|Female|
| 28|  Male|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 28|Female|
| 29|Female|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 29|  Male|
| 29|  Male|
| 28|Female|
+---+------+
only showing top 20 rows

In [10]:
df.select(df.columns[2:]).show()

+----------------+------+------+-----+--------------------+
|            name|course|  roll|marks|               email|
+----------------+------+------+-----+--------------------+
| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [11]:
df.select(df.columns[2:6]).show()

+----------------+------+------+-----+
|            name|course|  roll|marks|
+----------------+------+------+-----+
| Hubert Oliveras|    DB| 02984|   59|
|Toshiko Hillyard| Cloud| 12899|   62|
|  Celeste Lollis|    PF| 21267|   45|
|    Elenore Choy|    DB| 32877|   29|
|  Sheryll Towler|   DSA| 41487|   41|
|  Margene Moores|   MVC| 52771|   32|
|     Neda Briski|   OOP| 61973|   69|
|    Claude Panos| Cloud| 72409|   85|
|  Celeste Lollis|   MVC| 81492|   64|
|  Cordie Harnois|   OOP| 92882|   51|
|       Kena Wild|   DSA|102285|   35|
| Ernest Rossbach|    DB|111449|   53|
|  Latia Vanhoose|    DB|122502|   27|
|  Latia Vanhoose|   MVC|132110|   55|
|     Neda Briski|    PF|141770|   42|
|  Latia Vanhoose|    DB|152159|   27|
|  Loris Crossett|   MVC|161771|   36|
|  Annika Hoffman|   OOP|171660|   22|
|   Santa Kerfien|    PF|182129|   56|
|Mickey Cortright|    DB|192537|   62|
+----------------+------+------+-----+
only showing top 20 rows

In [18]:
df2=df.select(df.name,"email",col('age'))
df2.show()

+----------------+--------------------+---+
|            name|               email|age|
+----------------+--------------------+---+
| Hubert Oliveras|Annika Hoffman_Na...| 28|
|Toshiko Hillyard|Margene Moores_Ma...| 29|
|  Celeste Lollis|Jeannetta Golden_...| 28|
|    Elenore Choy|Billi Clore_Mitzi...| 29|
|  Sheryll Towler|Claude Panos_Judi...| 28|
|  Margene Moores|Toshiko Hillyard_...| 28|
|     Neda Briski|Alberta Freund_El...| 28|
|    Claude Panos|Sheryll Towler_Al...| 28|
|  Celeste Lollis|Nicole Harwood_Cl...| 28|
|  Cordie Harnois|Judie Chipps_Clem...| 29|
|       Kena Wild|Dustin Feagins_Ma...| 29|
| Ernest Rossbach|Maybell Duguay_Ab...| 29|
|  Latia Vanhoose|Latia Vanhoose_Mi...| 28|
|  Latia Vanhoose|Eda Neathery_Nico...| 29|
|     Neda Briski|Margene Moores_Mi...| 29|
|  Latia Vanhoose|Claude Panos_Sant...| 29|
|  Loris Crossett|Mitzi Seldon_Jenn...| 29|
|  Annika Hoffman|Taryn Brownlee_Mi...| 29|
|   Santa Kerfien|Judie Chipps_Tary...| 29|
|Mickey Cortright|Ernest Rossbach_M...| 28|
+----------------+--------------------+---+
only showing top 20 rows