In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,round
spark=SparkSession.builder.appName('Quiz').getOrCreate()
df=spark.read.options(header=True, inferSchema=True).csv('Files/StudentData.csv')
df.show()
df.printSchema()

24/11/12 09:36:37 WARN Utils: Your hostname, Manishs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.4 instead (on interface en0)
24/11/12 09:36:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/12 09:36:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [2]:
df.count()

1000

In [5]:
df=df.withColumn('total marks',lit(120))
df=df.withColumn('Average',round((col('Marks')*100/col('total marks')),2))
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+-------+
|age|gender|            name|course|  roll|marks|               email|total marks|Average|
+---+------+----------------+------+------+-----+--------------------+-----------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|  49.17|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120|  51.67|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|   37.5|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|  24.17|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|  34.17|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|  26.67|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120|   57.5|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120|  70.83|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|  53.33|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|   42.5|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|  29.17|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|  44.17|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|   22.5|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120|  45.83|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|   35.0|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|   22.5|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|   30.0|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|  18.33|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|  46.67|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120|  51.67|
+---+------+----------------+------+------+-----+--------------------+-----------+-------+
only showing top 20 rows

In [11]:
df1=df.filter((df.course=='OOP') & (df.Average>80))
df1.show()

+---+------+------------------+------+-------+-----+--------------------+-----------+-------+
|age|gender|              name|course|   roll|marks|               email|total marks|Average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|  81.67|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|   82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|   82.5|
| 29|  Male|    Margene Moores|   OOP|5621072|   97|Sheryll Towler_Ma...|        120|  80.83|
| 29|  Male|      Jc Andrepont|   OOP|8022618|   97|Cordie Harnois_Ja...|        120|  80.83|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|        120|  81.67|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|   82.5|
+---+------+------------------+------+-------+-----+--------------------+-----------+-------+

In [13]:
df2=df.filter((df.course=='Cloud') & (df.Average>60))
df2.show()

+---+------+-----------------+------+-------+-----+--------------------+-----------+-------+
|age|gender|             name|course|   roll|marks|               email|total marks|Average|
+---+------+-----------------+------+-------+-----+--------------------+-----------+-------+
| 28|Female|     Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|        120|  70.83|
| 29|  Male|      Billi Clore| Cloud| 512047|   76|Taryn Brownlee_Ju...|        120|  63.33|
| 28|Female|   Somer Stoecker| Cloud| 612490|   82|Sebrina Maresca_G...|        120|  68.33|
| 29|Female|     Judie Chipps| Cloud| 632793|   75|Tijuana Kropf_Ele...|        120|   62.5|
| 29|Female|     Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|        120|  75.83|
| 28|  Male|   Bonita Higuera| Cloud|1312294|   94|Eda Neathery_Pris...|        120|  78.33|
| 29|Female|  Hubert Oliveras| Cloud|1392791|   94|Anna Santos_Alber...|        120|  78.33|
| 28|Female|      Neda Briski| Cloud|1651303|   74|Ernest Rossbach_D...|        120|  61.67|
| 28|Female|   Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|        120|   82.5|
| 28|Female|     Paris Hutton| Cloud|2051881|   79|Melani Engberg_Ma...|        120|  65.83|
| 28|Female|     Eda Neathery| Cloud|2071302|   95|Latia Vanhoose_Do...|        120|  79.17|
| 28|  Male|      Neda Briski| Cloud|2092176|   81|Celeste Lollis_Ma...|        120|   67.5|
| 28|Female|    Tijuana Kropf| Cloud|2121632|   78|Michelle Ruggiero...|        120|   65.0|
| 28|Female|   Jenna Montague| Cloud|2402240|   96|Annika Hoffman_Du...|        120|   80.0|
| 29|Female|   Dustin Feagins| Cloud|2421900|   89|Niki Klimek_Latia...|        120|  74.17|
| 28|Female|  Ernest Rossbach| Cloud|2602027|   83|Alberta Freund_Go...|        120|  69.17|
| 28|  Male|Leontine Phillips| Cloud|3011586|   76|Dustin Feagins_Al...|        120|  63.33|
| 29|Female|  Sebrina Maresca| Cloud|3261159|   97|Maybell Duguay_Ja...|        120|  80.83|
| 28|  Male| Clementina Menke| Cloud|3352508|   95|Naoma Fritts_Mick...|        120|  79.17|
| 28|  Male|    Kizzy Brenner| Cloud|3581303|   80|Margene Moores_Ta...|        120|  66.67|
+---+------+-----------------+------+-------+-----+--------------------+-----------+-------+
only showing top 20 rows

In [14]:
df1.select('name','marks').show()

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Jenna Montague|   98|
|Priscila Tavernier|   99|
|      Judie Chipps|   99|
|    Margene Moores|   97|
|      Jc Andrepont|   97|
|    Loris Crossett|   98|
|    Loris Crossett|   99|
+------------------+-----+

In [15]:
df2.select('name','course').show()

+-----------------+------+
|             name|course|
+-----------------+------+
|     Claude Panos| Cloud|
|      Billi Clore| Cloud|
|   Somer Stoecker| Cloud|
|     Judie Chipps| Cloud|
|     Eda Neathery| Cloud|
|   Bonita Higuera| Cloud|
|  Hubert Oliveras| Cloud|
|      Neda Briski| Cloud|
|   Melani Engberg| Cloud|
|     Paris Hutton| Cloud|
|     Eda Neathery| Cloud|
|      Neda Briski| Cloud|
|    Tijuana Kropf| Cloud|
|   Jenna Montague| Cloud|
|   Dustin Feagins| Cloud|
|  Ernest Rossbach| Cloud|
|Leontine Phillips| Cloud|
|  Sebrina Maresca| Cloud|
| Clementina Menke| Cloud|
|    Kizzy Brenner| Cloud|
+-----------------+------+
only showing top 20 rows