In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit,col,count,min,max,avg,sum
spark=SparkSession.builder.appName("Sort").getOrCreate()
df=spark.read.options(header=True, inferSchema=True).csv('Files/StudentData.csv')
df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/12 21:26:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [2]:
df1=df.groupBy('gender').sum('marks')
df1.show()
df1.withColumnRenamed('sum(marks)','Marks Total').show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

+------+-----------+
|gender|Marks Total|
+------+-----------+
|Female|      29636|
|  Male|      30461|
+------+-----------+

In [3]:
df.groupBy('course').count().show()
df.groupBy('gender').count().show()
df.groupBy('course').sum('marks').show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

+------+----------+
|course|sum(marks)|
+------+----------+
|    PF|      9933|
|    DB|      9270|
|   MVC|      9585|
|   DSA|     10950|
| Cloud|     11443|
|   OOP|      8916|
+------+----------+

In [4]:
df.groupBy('gender').max('marks').show()
df.groupBy('gender').min('marks').show()
df.groupBy('gender').mean('marks').show()

+------+----------+
|gender|max(marks)|
+------+----------+
|Female|        99|
|  Male|        99|
+------+----------+

+------+----------+
|gender|min(marks)|
+------+----------+
|Female|        20|
|  Male|        20|
+------+----------+

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

In [5]:
df.groupBy('age').avg('marks').show()
df.groupBy('age').mean('marks').show()

+---+------------------+
|age|        avg(marks)|
+---+------------------+
| 28|60.487854251012145|
| 29|59.715415019762844|
+---+------------------+

+---+------------------+
|age|        avg(marks)|
+---+------------------+
| 28|60.487854251012145|
| 29|59.715415019762844|
+---+------------------+

In [6]:
df.groupBy('course','gender').count().show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
|    DB|Female|   75|
|   OOP|Female|   82|
+------+------+-----+

In [7]:
df.groupBy('course').agg(count('*'), sum('marks'), min('marks'), max('marks'), avg('marks')).show()

+------+--------+----------+----------+----------+------------------+
|course|count(1)|sum(marks)|min(marks)|max(marks)|        avg(marks)|
+------+--------+----------+----------+----------+------------------+
|    PF|     166|      9933|        20|        99| 59.83734939759036|
|    DB|     157|      9270|        20|        98|59.044585987261144|
|   MVC|     157|      9585|        22|        99| 61.05095541401274|
|   DSA|     176|     10950|        20|        99| 62.21590909090909|
| Cloud|     192|     11443|        20|        99|59.598958333333336|
|   OOP|     152|      8916|        20|        99|  58.6578947368421|
+------+--------+----------+----------+----------+------------------+

In [8]:
df.groupBy('course').agg(count('*').alias('Total student'), sum('marks').alias('Total Marks'), min('marks').alias('Min Marks'), max('marks').alias('Max Marks'), avg('marks').alias('Avg')).show()

+------+-------------+-----------+---------+---------+------------------+
|course|Total student|Total Marks|Min Marks|Max Marks|               Avg|
+------+-------------+-----------+---------+---------+------------------+
|    PF|          166|       9933|       20|       99| 59.83734939759036|
|    DB|          157|       9270|       20|       98|59.044585987261144|
|   MVC|          157|       9585|       22|       99| 61.05095541401274|
|   DSA|          176|      10950|       20|       99| 62.21590909090909|
| Cloud|          192|      11443|       20|       99|59.598958333333336|
|   OOP|          152|       8916|       20|       99|  58.6578947368421|
+------+-------------+-----------+---------+---------+------------------+

In [9]:
df.groupBy('course','gender').agg(count('*').alias('Total student'), sum('marks').alias('Total Marks'), min('marks').alias('Min Marks'), max('marks').alias('Max Marks'), avg('marks').alias('Avg')).show()

+------+------+-------------+-----------+---------+---------+------------------+
|course|gender|Total student|Total Marks|Min Marks|Max Marks|               Avg|
+------+------+-------------+-----------+---------+---------+------------------+
|   OOP|  Male|           70|       4234|       20|       99| 60.48571428571429|
|    DB|  Male|           82|       5073|       20|       98| 61.86585365853659|
| Cloud|Female|          106|       6316|       20|       99| 59.58490566037736|
|   MVC|  Male|           86|       5241|       22|       99| 60.94186046511628|
|   DSA|Female|           98|       6124|       20|       99| 62.48979591836735|
|    PF|  Male|           97|       5960|       20|       99| 61.44329896907217|
|   MVC|Female|           71|       4344|       22|       99|61.183098591549296|
| Cloud|  Male|           86|       5127|       21|       97|59.616279069767444|
|    PF|Female|           69|       3973|       20|       99| 57.57971014492754|
|   DSA|  Male|           78|       4826|       20|       99| 61.87179487179487|
|    DB|Female|           75|       4197|       20|       96|             55.96|
|   OOP|Female|           82|       4682|       21|       99| 57.09756097560975|
+------+------+-------------+-----------+---------+---------+------------------+