In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("ColumnWith").getOrCreate()

24/11/10 23:00:43 WARN Utils: Your hostname, Manishs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
24/11/10 23:00:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/10 23:00:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df=spark.read.options(header=True, inferSchema=True).csv('Files/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [3]:
df.printSchema()
from pyspark.sql.functions import col ,lit

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [4]:
df1=df.withColumn('roll',col('roll').cast('string'))
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [5]:
df.withColumn('marks',(col('marks')/20)).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984| 2.95|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|  3.1|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267| 2.25|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877| 1.45|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487| 2.05|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|  1.6|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973| 3.45|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409| 4.25|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|  3.2|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882| 2.55|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285| 1.75|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449| 2.65|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502| 1.35|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110| 2.75|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|  2.1|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159| 1.35|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|  1.8|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|  1.1|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|  2.8|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|  3.1|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [6]:
df.withColumn('aggrated marks',(col('marks')/20)).show()

+---+------+----------------+------+------+-----+--------------------+--------------+
|age|gender|            name|course|  roll|marks|               email|aggrated marks|
+---+------+----------------+------+------+-----+--------------------+--------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|          2.95|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|           3.1|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|          2.25|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|          1.45|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|          2.05|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|           1.6|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|          3.45|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|          4.25|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|           3.2|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|          2.55|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|          1.75|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|          2.65|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|          1.35|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|          2.75|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|           2.1|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|          1.35|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|           1.8|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|           1.1|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|           2.8|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|           3.1|
+---+------+----------------+------+------+-----+--------------------+--------------+
only showing top 20 rows

In [7]:
df.withColumn('country',lit('USA')).show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|country|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    USA|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

In [8]:
df.withColumn('name',lit('USA')).show()

+---+------+----+------+------+-----+--------------------+
|age|gender|name|course|  roll|marks|               email|
+---+------+----+------+------+-----+--------------------+
| 28|Female| USA|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female| USA| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male| USA|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female| USA|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male| USA|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male| USA|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male| USA|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female| USA| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male| USA|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male| USA|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female| USA|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| USA|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female| USA|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female| USA|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male| USA|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female| USA|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male| USA|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male| USA|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male| USA|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female| USA|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----+------+------+-----+--------------------+
only showing top 20 rows

In [10]:
df1=df.withColumnRenamed('gender','sex')
df1.show()

+---+------+----------------+------+------+-----+--------------------+
|age|   sex|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [15]:
df.select(col('gender').alias('sex')).show()

+------+
|   sex|
+------+
|Female|
|Female|
|  Male|
|Female|
|  Male|
|  Male|
|  Male|
|Female|
|  Male|
|  Male|
|Female|
|  Male|
|Female|
|Female|
|  Male|
|Female|
|  Male|
|  Male|
|  Male|
|Female|
+------+
only showing top 20 rows