In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Filters').getOrCreate()
df=spark.read.option('header',True).option('inferSchema',True).csv('Files/StudentData.csv')
df.show()
df.describe()
df.printSchema()

24/11/10 23:19:50 WARN Utils: Your hostname, Manishs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
24/11/10 23:19:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/10 23:19:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/11/10 23:19:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [2]:
df.filter(df.course=='DB').show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [13]:
df.filter(col('course')=='DB').show()

NameError: name 'col' is not defined

In [17]:
df.filter((df.course=='DB') & (df.marks>50)).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|Female|   Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|  Male|   Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|       Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|  Male|      Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female|   Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|      Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male|  Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|   Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|      Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 29|Female|      Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
| 29|Female| Leontine Phillips|    DB|1432252|   67|Billi Clore_Shery...|
| 28|Female|   Gonzalo Ferebee|    DB|1451513|   69|Claude Panos_Tame...|
| 28|  Male|   Marylee Capasso|    DB|1611411|   96|Annika Hoffman_Lo...|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 28|Female|Priscila Tavernier|    DB|1722388|   86|Lawanda Wohlwend_...|
| 29|  Male|    Dustin Feagins|    DB|1782045|   81|Cordie Harnois_To...|
| 29|  Male|     Tijuana Kropf|    DB|1882795|   92|Hubert Oliveras_E...|
| 28|  Male|   Ernest Rossbach|    DB|1901492|   54|Latia Vanhoose_Jc...|
| 29|Female| Leontine Phillips|    DB|1972893|   64|Marylee Capasso_E...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [18]:
course=['DB',"Colud",'OOP']
df.filter(df.course.isin(course)).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|  Male| Hubert Oliveras|   OOP|351719|   63|Lawanda Wohlwend_...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 28|Female|  Jalisa Swenson|   OOP|431352|   25|Gonzalo Ferebee_J...|
| 29|  Male|  Annika Hoffman|   OOP|472550|   35|Mitzi Seldon_Abra...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
| 29|  Male|Toshiko Hillyard|   OOP|521221|   77|Hubert Oliveras_L...|
| 29|Female|    Claude Panos|   OOP|542821|   28|Hubert Oliveras_P...|
| 28|Female|Mickey Cortright|    DB|551389|   43|Tijuana Kropf_Jen...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [19]:
df.filter(df.course.startswith('D')).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|Mickey Cortright|   DSA|342003|   44|Mitzi Seldon_Jean...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 29|Female|     Anna Santos|   DSA|411479|   42|Kena Wild_Mitzi S...|
| 28|Female|  Maybell Duguay|   DSA|452141|   29|Leontine Phillips...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
| 29|Female|    Paris Hutton|   DSA|492159|   60|Nicole Harwood_Ma...|
| 28|Female|Mickey Cortright|    DB|551389|   43|Tijuana Kropf_Jen...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [21]:
df.filter(df.course.endswith('P')).show()

+---+------+----------------+------+-------+-----+--------------------+
|age|gender|            name|course|   roll|marks|               email|
+---+------+----------------+------+-------+-----+--------------------+
| 28|  Male|     Neda Briski|   OOP|  61973|   69|Alberta Freund_El...|
| 29|  Male|  Cordie Harnois|   OOP|  92882|   51|Judie Chipps_Clem...|
| 29|  Male|  Annika Hoffman|   OOP| 171660|   22|Taryn Brownlee_Mi...|
| 28|Female|  Alberta Freund|   OOP| 251805|   83|Annika Hoffman_Sh...|
| 28|  Male| Hubert Oliveras|   OOP| 351719|   63|Lawanda Wohlwend_...|
| 28|Female|  Jalisa Swenson|   OOP| 431352|   25|Gonzalo Ferebee_J...|
| 29|  Male|  Annika Hoffman|   OOP| 472550|   35|Mitzi Seldon_Abra...|
| 29|  Male|Toshiko Hillyard|   OOP| 521221|   77|Hubert Oliveras_L...|
| 29|Female|    Claude Panos|   OOP| 542821|   28|Hubert Oliveras_P...|
| 28|  Male| Marylee Capasso|   OOP| 581756|   52|Jeannetta Golden_...|
| 29|Female|     Billi Clore|   OOP| 791519|   93|Elenore Choy_Jali...|
| 28|  Male|     Anna Santos|   OOP| 822396|   47|Leontine Phillips...|
| 28|Female| Marylee Capasso|   OOP| 991770|   86|Margene Moores_Cl...|
| 28|Female|    Claude Panos|   OOP|1081294|   94|Kizzy Brenner_Ann...|
| 29|Female|  Melani Engberg|   OOP|1132093|   76|Kena Wild_Neda Br...|
| 29|Female| Marylee Capasso|   OOP|1142653|   61|Cordie Harnois_Al...|
| 29|Female|  Dustin Feagins|   OOP|1161607|   37|Eda Neathery_Mary...|
| 28|Female|  Cordie Harnois|   OOP|1231943|   68|Mickey Cortright_...|
| 28|  Male|  Nicole Harwood|   OOP|1242426|   71|Billi Clore_Loris...|
| 28|  Male|Clementina Menke|   OOP|1341574|   46|Elenore Choy_Mick...|
+---+------+----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [22]:
df.filter(df.course.contains('lou')).show()

+---+------+----------------+------+-------+-----+--------------------+
|age|gender|            name|course|   roll|marks|               email|
+---+------+----------------+------+-------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud|  12899|   62|Margene Moores_Ma...|
| 28|Female|    Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|
| 28|Female|       Kena Wild| Cloud| 221750|   60|Mitzi Seldon_Jenn...|
| 29|Female|     Anna Santos| Cloud| 242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Cheri Kenney| Cloud| 281408|   43|Annika Hoffman_Me...|
| 29|Female|    Claude Panos| Cloud| 302130|   59|Sheryll Towler_Le...|
| 28|Female|   Kizzy Brenner| Cloud| 402409|   27|Ernest Rossbach_G...|
| 29|Female|  Somer Stoecker| Cloud| 442028|   34|Taryn Brownlee_Ta...|
| 29|  Male|     Billi Clore| Cloud| 512047|   76|Taryn Brownlee_Ju...|
| 28|Female|  Somer Stoecker| Cloud| 612490|   82|Sebrina Maresca_G...|
| 29|Female|    Judie Chipps| Cloud| 632793|   75|Tijuana Kropf_Ele...|
| 28|  Male|  Annika Hoffman| Cloud| 722193|   55|Taryn Brownlee_El...|
| 28|Female|     Billi Clore| Cloud| 801693|   38|Niki Klimek_Kizzy...|
| 28|Female|   Santa Kerfien| Cloud| 851620|   34|Melani Engberg_Sh...|
| 29|Female|    Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|
| 29|  Male|  Nicole Harwood| Cloud|1152571|   62|Latia Vanhoose_Ma...|
| 28|  Male| Gonzalo Ferebee| Cloud|1251176|   60|Santa Kerfien_Tam...|
| 29|  Male|  Jalisa Swenson| Cloud|1261533|   70|Dustin Feagins_Ni...|
| 28|Female|    Eda Neathery| Cloud|1272870|   69|Somer Stoecker_Du...|
+---+------+----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [23]:
df.filter(df.course.like('%lo%')).show()

+---+------+----------------+------+-------+-----+--------------------+
|age|gender|            name|course|   roll|marks|               email|
+---+------+----------------+------+-------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud|  12899|   62|Margene Moores_Ma...|
| 28|Female|    Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|
| 28|Female|       Kena Wild| Cloud| 221750|   60|Mitzi Seldon_Jenn...|
| 29|Female|     Anna Santos| Cloud| 242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Cheri Kenney| Cloud| 281408|   43|Annika Hoffman_Me...|
| 29|Female|    Claude Panos| Cloud| 302130|   59|Sheryll Towler_Le...|
| 28|Female|   Kizzy Brenner| Cloud| 402409|   27|Ernest Rossbach_G...|
| 29|Female|  Somer Stoecker| Cloud| 442028|   34|Taryn Brownlee_Ta...|
| 29|  Male|     Billi Clore| Cloud| 512047|   76|Taryn Brownlee_Ju...|
| 28|Female|  Somer Stoecker| Cloud| 612490|   82|Sebrina Maresca_G...|
| 29|Female|    Judie Chipps| Cloud| 632793|   75|Tijuana Kropf_Ele...|
| 28|  Male|  Annika Hoffman| Cloud| 722193|   55|Taryn Brownlee_El...|
| 28|Female|     Billi Clore| Cloud| 801693|   38|Niki Klimek_Kizzy...|
| 28|Female|   Santa Kerfien| Cloud| 851620|   34|Melani Engberg_Sh...|
| 29|Female|    Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|
| 29|  Male|  Nicole Harwood| Cloud|1152571|   62|Latia Vanhoose_Ma...|
| 28|  Male| Gonzalo Ferebee| Cloud|1251176|   60|Santa Kerfien_Tam...|
| 29|  Male|  Jalisa Swenson| Cloud|1261533|   70|Dustin Feagins_Ni...|
| 28|Female|    Eda Neathery| Cloud|1272870|   69|Somer Stoecker_Du...|
+---+------+----------------+------+-------+-----+--------------------+
only showing top 20 rows